body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
    font-family: "Impact", "Charcoal", sans-serif;
}

h2 {
    font-family: "Impact", "Charcoal", sans-serif;
}

h3 {
    font-family: "Impact", "Charcoal", sans-serif;
}
small {
    font-family "Impact", "Charcoal", sans-serif;
}
 body {
  margin: 0;
  padding: 0;
}

#container {
  position: fixed;
  
}
p {
    color: #1DB3FE;
}
body {
  overflow: hidden;
  background-image: radial-gradient(farthest-side ellipse at right bottom , #900, black);
  /*background-image: radial-gradient(farthest-side ellipse at right bottom , #114255, black);*/
}
canvas {
  
  margin: 0;
  /*-webkit-filter: blur( 5px ) contrast( 5 );
    -moz-filter: blur( 5px ) contrast( 5 );
    filter: blur( 5px ) contrast( 5 );*/
}
