body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
    font-family: "Impact", "Charcoal", sans-serif;
}

h2 {
    font-family: "Impact", "Charcoal", sans-serif;
}

h3 {
    font-family: "Impact", "Charcoal", sans-serif;
}
small {
    font-family "Impact", "Charcoal", sans-serif;
}
 body {
  margin: 0;
  padding: 0;
}

#container {
  position: fixed;
  
}
asdf {
    color: blue;
   
}
p {
    color: blue;
}
