body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
    font-family: "Impact", "Charcoal", sans-serif;
}

h2 {
    font-family: "Impact", "Charcoal", sans-serif;
}

h3 {
    font-family: "Impact", "Charcoal", sans-serif;
}
small {
    font-family "Impact", "Charcoal", sans-serif;
}
 
